@using GraniteHouse_MySQL.Extensions
@model GraniteHouse_MySQL.Models.ViewModel.AppointmentDetailsViewModel
@using GraniteHouse_MySQL.Utility
@{
    ViewData["Title"] = "Edit";
    Layout = "_Layout";
}

<br />
<h2 class="text-info">Edit Appointment</h2>

<form method="post" asp-action="Edit" enctype="multipart/form-data">
    <div class="p-4 border rounded row">
        <input type="hidden" asp-for="Appointments.Id" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-6">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Appointments.CustomerName"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Appointments.CustomerName" class="form-control" />
                </div>
                <span asp-validation-for="Appointments.CustomerName" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Appointments.CustomerEmail"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Appointments.CustomerEmail" class="form-control" />
                </div>
                <span asp-validation-for="Appointments.CustomerEmail" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Appointments.AppointmentDate"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Appointments.AppointmentDate" id="datepicker" type="text" class="form-control" />
                </div>
                <span asp-validation-for="Appointments.AppointmentDate" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Appointments.AppontmentTime"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Appointments.AppontmentTime" id="timepicker" type="text" class="timepicker form-control" />
                </div>
                <span asp-validation-for="Appointments.AppontmentTime" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Appointments.CustomerPhoneNumber"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Appointments.CustomerPhoneNumber" class="form-control" />
                </div>
                <span asp-validation-for="Appointments.CustomerPhoneNumber" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Appointments.SalesPerson"></label>
                </div>
                <div class="col-8">
                    @if (User.IsInRole(SD.AdminEndUser))
                    {
                        <input asp-for="@Model.Appointments.SalesPerson.Name" readonly class="form-control" />
                        <input asp-for="Appointments.SalesPersonId" hidden="" />
                    }
                    else
                    {
                        <select asp-for="@Model.Appointments.SalesPersonId" asp-items="@Model.SalesPerson.ToSelectListItemsString(@Model.Appointments.SalesPersonId)" class="form-control"></select>
                    }
                </div>
                <span asp-validation-for="Appointments.SalesPerson" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Appointments.isComfirmed"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Appointments.isComfirmed" class="h100 w-100" />
                </div>
            </div>

        </div>
        <div class="col-6">
            @*Partial View Product*@
            <partial name="_AppointmentProductDetails" model="@Model.Products"/>
        </div>

        <br />
        <div class="form-group">
            <input type="submit" class="btn btn-primary" asp-route-id="" value="Update" />
            <a asp-action="Index" class="btn btn-success">Back to List</a>
        </div>
        
    </div>
</form>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
    <script>
        $('.timepicker').timepicker({
            timeFormat: 'h:mm p',
            interval: 30,
            minTime: '10',
            maxTime: '3:00pm',
            startTime: '10:00',
            dynamic: true,
            dropdown: true,
            scrollbar: true
        });

        $(function() {
            $("#datepicker").datepicker({
                maxDate: "+3M",
                minDate: "+1M",
                showOtherMonths: true,
                selectOtherMonths: true
            });
        });

        $(document).ready(function() {
            var appointmentTime = document.getElementById("datepicker").value;
            var splitDate = "";
            if (appointmentTime.indexOf(" ") > 0) {
                splitDate = appointmentTime.split(" ");
            } else {
                splitDate = appointmentTime.split("T");
            }
            var time = splitDate[1].substring(0, 5);
            if (time.slice(-1) == ":") {
                time = time.substring(0, time.length - 1);
            }
            var amPmTime = splitDate[2];
            $("#datepicker").attr('value', splitDate[0]);
            $("#timepicker").attr('value', time + ' ' + amPmTime);


        });

    </script>
}